<h1>Listing patients</h1>
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>

<br/>
<table id="mainlist">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Age</th>
    <th>Doctor</th>
    <th>Diagnosis</th>
    <th></th>
    <th></th>
  </tr>

<% @patients.each do |patient| %>
  <tr class= "<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= patient.first_name %></td>
    <td><%= patient.last_name %></td>
    <td><%= patient.age %></td>
    <td><%= patient.doctor.first_name + " " + patient.doctor.last_name %></td>
    <td><%= patient.diagnosis.name %></td>
    <!--<td><%= link_to 'Show', patient %></td>-->
    <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
    <td><%= link_to 'Remove', patient, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Patient', new_patient_path %>
<p><%= will_paginate @patients %></p>
