<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @patient.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @patient.last_name %>
</p>

<p>
  <b>Age:</b>
  <%= @patient.age %>
</p>

<p>
  <b>Doctor:</b>
  <%= @patient.doctor_id %>
</p>

<p>
  <b>Diagnosis:</b>
  <%= @patient.diagnosis_id %>
</p>


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
