<h1>Listing diagnoses</h1>
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>

<br/>

<table id="mainlist">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Reference number</th>
    <th></th>
    <th></th>
  </tr>

<% @diagnoses.each do |diagnosis| %>
  <tr class= "<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= diagnosis.name %></td>
    <td><%= sanitize(diagnosis.description) %></td>
    <td><%= diagnosis.reference_number %></td>
    <!--<td><%= link_to 'Show', diagnosis %></td>-->
    <td><%= link_to 'Edit', edit_diagnosis_path(diagnosis) %></td>
    <td><%= link_to 'Remove', diagnosis, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Diagnosis', new_diagnosis_path %>
<p><%= will_paginate @diagnoses %></p>
