<!--FRONT VIEW-->

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Home</h1>

<br/>


<table id="mainlist">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Doctor</th>
    <th>Diagnosis</th>
 
  </tr>
<% @patients.each do |patient| %>
       
        <tr class= "<%= cycle('list_line_odd', 'list_line_even') %>">

        <td>
           <%= link_to(patient.first_name + " " + patient.last_name, edit_patient_path(patient)) %>
        </td>

        <td>
            <%= patient.age %>
        </td>

        <td>
            <%= patient.doctor.first_name + " " + patient.doctor.last_name %>
        </td>

        <td>
            <%= patient.diagnosis.name %>
        </td>
              
         </tr>
       
<% end %>


</table>
