<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Home page</h1>

<% @patients.each do |patient| %>
        <div class="entry">
        <%= link_to(patient.first_name + " " + patient.last_name, edit_patient_path(patient)) %>
        <!--comment: the path is similar to the edit button of of the index page-->
        <%= patient.age %>
        <%= patient.doctor.first_name + " " + patient.doctor.last_name %>
        <%= patient.diagnosis.name %>
<% end %>
