<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @doctor.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @doctor.last_name %>
</p>

<p>
  <b>Degrees:</b>
  <%= @doctor.degrees %>
</p>

<p>
  <b>Portrait:</b>
  <%= @doctor.portrait %>
</p>


<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
